<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icon.ico" type="image/x-icon">
    <link rel="manifest" href="/pwa/manifest.json">
    <script src="/service-worker.js"></script>
    <title>Countries REST API</title>
</head>

<script>
    function changeFormAction(value)
    {
        document.getElementById("formExampleRequest").action = "/" + value
    }

    function generateToken()
    {
        document.getElementById("formGenerateToken").submit()
    }

    function selectSection(selectedSection)
    {
        //elements
        let sectionHome = document.getElementById("sectionHome")
        let sectionAbout = document.getElementById("sectionAbout")
        let navMenuHome = document.getElementById("navMenuHome")
        let navMenuAbout = document.getElementById("navMenuAbout")

        //reset elements
        sectionHome.style.display = "none"
        sectionAbout.style.display = "none"
        navMenuHome.style.opacity = "0.3"
        navMenuAbout.style.opacity = "0.3"
        
        //update elements
        if(selectedSection == "home") 
        { 
            navMenuHome.style.opacity = "1"
            sectionHome.style.display = "block"
            sectionAbout.style.display = "none"
        } 
        else if(selectedSection == "about") 
        { 
            navMenuAbout.style.opacity = "1"
            sectionHome.style.display = "none"
            sectionAbout.style.display = "block"
        } 
    }
</script>

<body>
    <div id="navMenu">
        <p id="navMenuHome" onclick="selectSection('home')">Home</p>
        <span class="dot">·</span>
        <p id="navMenuAbout" onclick="selectSection('about')">About</p>
    </div>

    <div id="sectionHome">
        <!-- routes supported -->
        <h3 id="supportedEndpointsTitle">Routes Supported</h3>
        <div id="supportedEndpoints">
            <input value="/all?token={token}"></input>
            <input value="/specific?token={token}&name=USA"></input>
            <input value="/multiple?token={token}&name=USA&name=Spain"></input>
        </div>
    
        <!-- supported countries -->
        <h3 id="supportedCountriesTitle">Countries Supported</h3>
        <div id="supportedCountries">
            <p>Sweden</p>
            <p>Denmark</p>
            <p>Finland</p>
            <p>Germany</p>
            <p>Italy</p>
            <p>France</p>
            <p>Spain</p>
            <p>USA</p>
            <p>Mexico</p>
            <p>Brazil</p>
        </div>
    
        <!-- generate token -->
        <div id="generateToken">
            <form id="formGenerateToken" action="/token" method="POST" target="">
                <h3 id="generateTokenTitle">Token</h3>
                <% if(token == null) { %>
                    <button type="submit">Generate</button>
                <% } %>
            </form>
    
            <% if(token != null) { %>
                <input id="token1" name="token" placeholder="token" value="<%=token %>"></input>
            <% } %>
        </div>
    
        <!-- try request -->
        <% if(token != null) { %>
            <div id="exampleRequest">
                <form id="formExampleRequest" action="/countries" method="POST" target="">
                    <h3 id="tryRequestTitle">Try Request</h3>
                    
                    <!-- token -->
                    <input hidden id="token2" name="token" placeholder="token" value="<%=token %>"></input>
                    
                    <!-- links -->
                    <a href="/all?token=<%=token %>" class="tryRequestLink">All</a>
                    <a href="/specific?token=<%=token %>&name=usa" class="tryRequestLink">Specific: USA</a>
                    <a href="/multiple?token=<%=token %>&name=usa&name=spain" class="tryRequestLink">Multiple: USA, Spain</a>
                </form>
            </div>
        <% } else { %>
        <% } %>
    </div>
    
    <div id="sectionAbout">
        <h3 id="Title">About</h3>
        <p>This is a student project, made to learn about REST APIs.</p>
    
        <h3 id="privacyPolicyTitle">Privacy Policy</h3>
        <p class="privacyPolicyItem">Collects Account Data: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Collects Personal Data: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Collects Device Data: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Collects Metrics Data: <span class="yes">Yes</span></p>
        <p class="privacyPolicyItem">Collects Diagnostics Data: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Collects Location Data: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Collects Financial Data: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Collects Messages Data: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Collects Media Data: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Uses Cookies: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Uses Local Storage: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Links to Other Websites: <span class="no">No</span></p>
        <p class="privacyPolicyItem">Policy Might Change in the Future: <span class="yes">Yes</span></p>
    </div>
</body>
</html>

<style>
    /*** elements ***/
    body
    {
        width: 30vw;
        margin: auto;
        margin-top: 10vh;
        padding: 30px;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid white;
        box-shadow: 2px 1px black;
        overflow-y: scroll;
        color: white;
        background-color: black;
    }
    input 
    { 
        display: block; width: calc(96% + 1px); 
        margin: 0px 0px 1px 0px; 
        padding: 11px; 
        font-size: 16px; 
        font-weight: bold; 
        border: 1px solid white; 
    }
    button 
    { 
        height: 42px;
        width: 100%; 
        padding: 10px; 
        font-weight: bold;
        font-size: 16px;
        border-radius: 0%; 
        color: white; 
        border: 1px solid white;
        border-bottom: 1px solid black; 
        color: black;
        background-color: white; 
    }
    select { height: 42px; width: 100%; font-size: 24px; }
    h3 { margin: 0px; padding: 0px; }
    p { margin: 0px; font-size: 18px; }
    form { width: 100%; }
    select { width: 100%; }
    label { display: block; margin: 10px 0px 0px 0px; }
    a { margin: 0px; padding: 0px; text-decoration: none; color: white; }
    
    /*** classes ***/
    .dot { display: block; padding: 3px 6px 0px 6px; opacity: 0.3; }
    .tryRequestLink 
    {
        display: block; 
        margin: 0px 0px 1px 0px;
        padding: 12px 11px 12px 11px; 
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: black; 
        background-color: white; 
    }
    .yes { color: lightgreen; }
    .no { color: red; }
    
    /*** ids ***/
    #supportedEndpointsTitle { margin: 0px 0px 0px 0px; user-select: none; font-size: 20px; }
    #supportedCountriesTitle { margin: 30px 0px 0px 0px; user-select: none; font-size: 20px; }
    #tryRequestTitle { margin: 30px 0px 0px 0px; font-size: 20px; }
    #generateTokenTitle { margin: 30px 0px 0px 0px; user-select: none; font-size: 20px; }
    #title { margin: 0px 0px 20px 0px; text-align: center; user-select: none; }
    #submit { margin: 0px; }
    #token2 { display: none; }
    #generateToken { margin: 30px 0px 0px 0px; }
    #navMenu 
    { 
        display: flex; 
        width: 100%; 
        margin: 0px 0px 20px 0px; 
        font-weight: bold;
        flex-direction: row; 
        justify-content: center;
        user-select: none;
    }
    #navMenuHome { opacity: 1; }
    #navMenuAbout { opacity: 0.3; }
    #privacyPolicyTitle { margin: 30px 0px 0px 0px; font-size: 20px; }
    #Title { margin: 0px; font-size: 20px; }
    #sectionAbout 
    { 
        position: relative; 
        display: none; 
        top: 0px; 
        margin: auto;
        margin-left: -30px;
        padding: 0px 30px 30px 30px;
        height: auto; 
        width: auto; 
        background-color: black; 
    }
    #sectionHome { display: block; }
    
    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        body { width: auto; margin: 0px; box-shadow: 0px 0px black; border: 0px solid black; }
        input { width: calc(93% + 3px); }
    }
</style>
